{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
    <!-- 부트스트랩 이용하여 디자인 바꾸기 -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    <title>Title</title>

</head>
<body>

<div class="page-header">
    {% if user.is_authenticated %} <!-- 로그인한 사람만 글을 등록하게 만들기 -->
    <!-- base.html에 구현해야 모든 화면에서 보이므로 어느곳에서든 글추가 가능 -->
    <a href="{% url 'blog:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> <!-- post_new로 연결 및 (+)글 추가 아이콘 생성 -->
    <!--  <a href="{% url 'blog:post_delete' %" class="top-menu"><span class="glyphicon glyphicon-minus"></span></a> </a> 삭제 -->
    {% endif %}
    <h1><a href="{% url 'blog:post_list' %}">HYWU Blog</a></h1>  <!--HYWU Blog 라는 제목의 하이퍼링크 설정 및 post_list로 연결 -->
    <!-- ↑ HYWU Blog 타이틀(제목)을 누르면 항상 메인 post_list로 갈 수 있게 함  -->
</div>



<div class="post">
    {% if post.published_date %} <!-- published_date가 있을 때 -->
        <div class="date"> <!-- date 를 출력  -->
            {{ post.published_date }}
        </div>
    {% endif %}

    {% if user.is_authenticated %} <!-- 로그인한 사람만 글을 등록하게 만들기 -->
    <a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a> <!-- 글 수정 -->
    <a class="btn btn-default" href="{% url 'blog:post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a> <!-- 글 삭제 -->
    <a class="btn btn-default" href="{% url 'blog:add_comment_to_post' pk=post.pk %}">Add comment</a> <!-- 댓글 -->
    {% endif %}
    <h1>{{ post.title }}</h1>   <!-- 제목 출력 -->
    <p>{{ post.text|linebreaksbr }}</p> <!-- 내용출력, linebreaksbr은 줄바꿈문자가 들어있을때 줄바꿔주는 역할 즉 <br>태그로 변경해주는 역할을 함-->


</div>

<hr>
{% for comment in post.comments.all %} <!-- 댓글 -->
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div> <!-- 댓글 날짜 -->
        <strong>{{ comment.author }}</strong> <!-- 댓글 단 사람 -->
        <p>{{ comment.text|linebreaks }}</p> <!-- 댓글 -->
    </div>
{% empty %} <!-- 비어있는 경우 -->
    <p>아직 작성된 댓글이 없습니다.</p> <!-- 작성된 댓글이 없다고 안내 -->
{% endfor %}

{% endblock %}